body {
  background: radial-gradient(
    #fff 5%,
    #fff 10%,
    #111
  );
  background-attachment: fixed;
}

canvas {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#player {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  left: -100px;
  top: 0;
}
